<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" defer src="./assets/app.js"></script>
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css">
    <title>Homework #8</title>
</head>
<body class="p-3">

    <div class="card mx-auto" style="width: 18rem;" id="app">
        <div class="card-body mx-auto">
          <h5 class="card-title">Расшифровка ИНН</h5>
          <p class="card-text">Введите номер ИНН и получите полную расшифровку - корректность, дата рождения, возраст, пол, знак зодиака, знак по восточному календарю.</p>
          <input v-model='search' id='search' class=' mt-3 mx-auto' type="text" placeholder="Search...">
        </div>
        
        <ul class="list-group list-group-flush text-center" v-if='search.length == 10' v-for='item in drawInn'>
          <li class="list-group-item">{{item}}</li>
          
        </ul>
        
      </div>
    
</body>
</html>